services:
  pg-analysis:
    image: postgres:17.4-bookworm
    container_name: pg-analysis
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: ${PG_ANALYSIS_USER}
      POSTGRES_PASSWORD: ${PG_ANALYSIS_PASSWORD}
      POSTGRES_DB: ${PG_ANALYSIS_DB}
    volumes:
      - ${DATA_DIR}/pg-analysis:/var/lib/postgresql/data
    restart: always

  analysis:
    build:
      context: ./analysis
      args:
        - PACKAGE_NAME=analysis
        - RELEASE_BUILD=${ANALYSIS_RELEASE_BUILD}
    container_name: analysis
    environment:
      LNM_API_DOMAIN: ${LNM_API_DOMAIN}
      LNM_API_KEY: ${LNM_API_KEY}
      LNM_API_SECRET: ${LNM_API_SECRET}
      LNM_API_PASSPHRASE: ${LNM_API_PASSPHRASE}
      LNM_PRICE_HISTORY_BATCH_SIZE: ${LNM_PRICE_HISTORY_BATCH_SIZE}
      LNM_API_COOLDOWN_SEC: ${LNM_API_COOLDOWN_SEC}
      LNM_API_ERROR_MAX_TRIALS: ${LNM_API_ERROR_MAX_TRIALS}
      LNM_API_ERROR_COOLDOWN_SEC: ${LNM_API_ERROR_COOLDOWN_SEC}
      SYNC_HISTORY_REACH_HOURS: ${SYNC_HISTORY_REACH_HOURS}
      RE_SYNC_HISTORY_INTERVAL_SEC: ${RE_SYNC_HISTORY_INTERVAL_SEC}
      RESTART_SYNC_INTERVAL_SEC: ${RESTART_SYNC_INTERVAL_SEC}
      POSTGRES_DB_URL: postgres://${PG_ANALYSIS_USER}:${PG_ANALYSIS_PASSWORD}@pg-analysis:5432/${PG_ANALYSIS_DB}
    depends_on:
      - pg-analysis
    restart: "no"

  pg-metabase:
    image: postgres:17.4-bookworm
    container_name: pg-metabase
    environment:
      POSTGRES_USER: ${PG_METABASE_USER}
      POSTGRES_PASSWORD: ${PG_METABASE_PASSWORD}
      POSTGRES_DB: ${PG_METABASE_DB}
    volumes:
      - ${DATA_DIR}/pg-metabase:/var/lib/postgresql/data
    restart: always

  metabase:
    image: metabase/metabase:latest
    container_name: metabase
    ports:
      - "3000:3000"
    environment:
      MB_DB_TYPE: postgres
      MB_DB_HOST: pg-metabase
      MB_DB_PORT: 5432
      MB_DB_USER: ${PG_METABASE_USER}
      MB_DB_PASS: ${PG_METABASE_PASSWORD}
      MB_DB_DBNAME: ${PG_METABASE_DB}
    depends_on:
      - pg-metabase
      - pg-analysis
    restart: unless-stopped
