services:

  pg-analysis:
    image: postgres:17.4-bookworm
    container_name: pg-analysis
    environment:
      POSTGRES_USER: ${PG_ANALYSIS_USER}
      POSTGRES_PASSWORD: ${PG_ANALYSIS_PASSWORD}
      POSTGRES_DB: ${PG_ANALYSIS_DB}
    volumes:
      - ${DATA_DIR}/pg-analysis:/var/lib/postgresql/data
    restart: always

  analysis:
    build:
      context: ./analysis
      args:
        - PACKAGE_NAME=analysis
        - RELEASE_BUILD=${ANALYSIS_RELEASE_BUILD}
    container_name: analysis
    environment:
      LNM_API_BASE_URL: ${LNM_API_BASE_URL}
      LNM_API_KEY: ${LNM_API_KEY}
      LNM_API_SECRET: ${LNM_API_SECRET}
      LNM_API_PASSPHRASE: ${LNM_API_PASSPHRASE}
      POSTGRES_DB_URL: postgres://${PG_ANALYSIS_USER}:${PG_ANALYSIS_PASSWORD}@pg-analysis:5432/${PG_ANALYSIS_DB}
    depends_on:
      - pg-analysis
    restart: "no"